* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.header-top {
    height: 60px;
    display: flex;
    align-items: flex-end;
}

h1 {
    font-family: 'Acme', sans-serif;
    font-size: 40px;
    color:  rgb(41, 177, 221);
    margin-left: 10px;

}

.header-bottom {
    height: 60px;
    background-color:  rgb(41, 177, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    color: white;
    font-size: 20px;
}

.search {
    margin-right: 10px;
}


main {
    width: 100vw;
    height: calc(100% - 120px);
    background-color: rgb(238, 238, 238);
    overflow-y: auto;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: calc(100% / 5 - 30px);
    margin: 15px 15px;
    height: 120px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.22);  
}

.name {
    margin-top: 5px;
}

